.box {
  border: 2px solid lightgray;
  margin: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-font {
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: lightgreen !important;
}