.box {
  border: 2px solid lightgray;
  margin: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
}

.letter-font {
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: lightgreen;
}

.selected {
  background-color: rgba(128, 128, 128, 0.3);
}

.selected-yellow {
  background-color: yellow;
}

.selected-green {
  background-color: green !important;
}
